.client-list-container{
    width: 100%;    
    font-size: 10px;   
    /* background-color: red;  */
   /*  border:1px solid red; */
    .client-list{
        width: 100%;
        margin: auto;
        border: 1px solid #00214C;
        border-radius: 10px 10px 0 0 ;         
        .client-list-header{
            padding: 0 2%;
            height: 40px;
            width: calc(100% - 4%);
            background-color: #00214C;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px 10px 0 0 ;  
                     
        }
        .client-list-items-container{
            padding: 0 2%;
            width: calc(100% - 4%);  
            height: 40px;
            background-color: rgb(255 255 255 / 12%);  
            border-bottom: 1px solid #00214C;                                
            cursor: pointer;
            &:hover{
                box-shadow: 0px 0px 10px 0px rgb(24, 227, 242);
                border:rgb(11, 240, 209) 1px solid ;
            }            
            .client-list-items{
                display: flex;
                flex-direction: row;
                justify-content: space-between;                 
                color:rgb(24, 227, 242); 
                height: 100%;
                .client-list-item{
                    display: flex;
                    align-items: center;
                }           
            }     
        }
    }
}
.item-width{
    width: calc(100% / 3);
}
@media(min-width:1000px){
    .client-list-container{        
        font-size: 24px; 
    } 
}
